@model SubKuchV2.Models.DeliveryCharge

<form action="~/DeliveryCharges/AddDeliveryCharges" method="post">
    <div class="modal-body">

        <div class="row">
            <div class="col-md-5">
                <input type="hidden" name="Id" value="@Model.Id">
                <input type="text" name="Title" value="@Model.Title" class=" form-control" placeholder="Title">
            </div>
            <div class="col-md-5">
                <input type="text" name="Kilomitter" value="@Model.Kilomitter" class="form-control" placeholder="Kilomitter">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-5">
                <input type="text" name="Price" value="@Model.Price" class=" form-control" placeholder="Price">
            </div>
         
        </div>
        <br />
        
        <div class="modal-footer">
            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>