
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@section Css{
    <link href="~/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <h4 class="header-title mt-0 mb-1">Accepted Orders</h4>


                    <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th>Order Id</th>
                                <th>Customer Name</th>
                                <th>Customer Phone</th>
                                <th>Order Status</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.Acceptedorders)
                            {
                                if (item.OrderStatus == "InProcess")
                                {
                                    <tr>
                                        <th>@item.Id</th>
                                        <th>@item.CustomerName</th>
                                        <th>@item.CustomerPhone</th>
                                        <th>Accepted</th>
                                    </tr>

                                }


                            }

                        </tbody>
                    </table>


                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>
    <!-- end row-->
    <!-- end row-->
</div> <!-- container-fluid -->
@section Scripts{
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/datatables.init.js"></script>

}

